<html>
<head></head>
<body>
	<div class="container">
		<h1>Relax Fruit Juice</h1>
		<div class="row">
			<div class="col-md-8">
				<h3>Contact</h3>
				<hr>
				<h4><span class="glyphicon glyphicon-map-marker"></span>Survey No 84/2, Darpan Sarang Society Pune, Parvati, Pune - 411009</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				
				<h4>+(91)-20-24231110</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				
				<h4><span class="glyphicon glyphicon-phone"></span>+(91)-9822074694</h4>
			</div>
		</div>
		<div class="row">
			    <button type="button" class="btn btn-primary btn-sm">Write Review</button>
 				<button type="button" class="btn btn-success btn-sm">Send Email</button>
 				<button type="button" class="btn btn-success btn-sm">Send Enquiry</button>
		</div>
	</div>
</body>
</html>