<html>
<head>
</head>
<body>
	<div class ="container">
		<div class="row">
			<div class="col-md-4 ">
				<div class="form-group has-feedback has-feedback-left">
					<input type="text" ng-model="test" class="form-control input-lg" placeholder="Search">
	            <span class="form-control-feedback glyphicon glyphicon-search "></span>
	           
	           
	           </div>
	       </div>
	           
               <div class="col-md-8">
               <ul class="list-group" ng-repeat="j in juice | filter:test" >
				  <li class="list-group-item list-group-item-warning">{{j.type}}</li>
 				  <li class="list-group-item list-group-item-warning">{{j.name}}</li>
				  <li class="list-group-item list-group-item-warning">{{j.contents}}</li>
 				  <li class="list-group-item list-group-item-warning">{{j.price}}</li>
 				  <li class="list-group-item list-group-item-default">
 				  
                     <p class="button">
 				    
 				       <a href="#/details"><button type="button" class="btn btn-primary btn-xs">Details</button></a>
 				    <button type="button" class="btn btn-default btn-xs ">Order</button>
 				    <button type="button" class="btn btn-success btn-xs ">Payment</button>
 				     </P>
 				  </li>
				</ul>
			 
              <div class="row">
              	
               <ul class="pagination">
			  	<li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			  </u1>
			
		   </div>

			</div>
			   </div>
		</div>
	</div>
</body>
</html>
